* {
  font-size: 1.4rem;
}
body {
  margin: 0;
}
/************************** CONTACT***********************************/
.contact-header {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbarlogo a {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  padding-top: 8px;
  padding-bottom: 10px;
  left: 20px;
  cursor: pointer;
  text-decoration: none;
  z-index: 1500;
}

.navbarlogo .img {
  font-size: 2.25rem;
}
.navbarlogo span {
  padding-left: 3px;
  font-size: 1rem;
}
.navbarlogo span i {
  font-size: 1rem;
}

.contact-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
  background-color: #111;
}

.contact-navbar a {
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}
.contact-navbar a:hover {
  background-color: white;
  color: black;
}

/*sidebar*/
.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 5000;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.nav-mirror-sidebar {
  display: none;
}

.sidebar-fieldset h1 {
  color: white;
  padding: 8px 8px 8px 32px;
  font-size: 1.2rem;
}

.sidebar-fieldset {
  padding: 0px 10px 0px 10px;
}
.sidebar-fieldset fieldset {
  border-radius: 10px;
}

.sidebar button {
  position: absolute;
  top: 14px;
  right: 20px;
  font-size: 1.4rem;
  margin-left: 50px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #111;
  transition: all 0.5s;
}

.sidebar button:hover {
  color: black;
  background-color: white;
}

.contact-openBtn {
  margin: 0;
  position: fixed;
  padding-top: 14px;
  padding-bottom: 12px;
  right: 20px;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}

.contact-openBtn:hover {
  background-color: white;
  color: black;
}

.contact {
  padding-right: 2%;
  padding-left: 2%;
}

.contact-fieldset {
  border-left: none;
  border-right: none;
  border-radius: 10px;
}

.contact-legend {
  text-align: center;
}

.contact-legend h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6rem;
}

.formsection {
  display: flex;
}

.formsection img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: cover;
  max-width: 40%;
}
.img2 {
  display: none;
}
form {
  background-color: #ececec;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.formcontent {
  padding: 30px 0px 0px 30px;
}

.formsection h1,
.contact-members h1 {
  font-style: italic;
  font-size: 1.6rem;
  text-align: center;
}
.contact-members{
  margin-top: 40px;
  background-color: #ebebeb;
  border-radius: 10px;
}
.contact-members table{
  width: 100%;
  text-align: center;
  border-radius: 10px;
}


.contact-members a {
  text-decoration: none;
  color: rgb(82, 84, 228);
}
.contact-members a:hover {
  text-decoration: underline 2px rgb(82, 84, 228);
}


.button {
  display: flex;
  justify-content: center;
}

.button button {
  margin: 6px;
}

.inputs,
textarea {
  width: 95%;
  padding: 8px;
  margin-bottom: 16px;
}

textarea {
  resize: none;
}

.rating-hidden {
  display: none;
}
.rating {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 20px 0px;
}
.ratelet {
  padding: 0px 20px 0px 20px;
  text-align: center;
  background-color: #c9c9c9;
  border-radius: 10px;
}
.ratelet p {
  font-size: 1rem;
}
.rate-check {
  transform: scale(2);
  vertical-align: 5px;
}

input[type="radio"] {
  transform: scale(2.5);
}

#best:checked::before {
  content: "\2022";
  display: block;
  transform: translate(9%, -26%) scale(1.9);
  color: #00ce0a;
}

#verygood:checked::before {
  content: "\2022";
  display: block;
  transform: translate(9%, -26%) scale(1.9);
  color: #7bff00;
}
#good:checked::before {
  content: "\2022";
  display: block;
  transform: translate(9%, -26%) scale(1.9);
  color: #ebff33;
}
#bad:checked::before {
  content: "\2022";
  display: block;
  transform: translate(9%, -26%) scale(1.9);
  color: #ffa909;
}
#verybad:checked::before {
  content: "\2022";
  display: block;
  transform: translate(9%, -26%) scale(1.9);
  color: rgb(255, 96, 4);
}
#worst:checked::before {
  content: "\2022";
  display: block;
  transform: translate(9%, -26%) scale(1.9);
  color: #ff0000;
}

/*Back to Top button*/
.totop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 20px;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.2s;
  display: none;
  border: 1px solid black;
}

.totop:hover {
  background-color: white;
  color: black;
}

/*Back to Top button*/

/*Footer*/
footer {
  background-color: black;
}

footer h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  font-size: 1.2rem;
}

footer span {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
}

footer a {
  text-decoration: none;
  color: white;
}

/************************** CONTACT***********************************/

@media screen and (max-width: 1200px) {
  .formsection {
    display: block;
  }
  .img1 {
    display: none;
  }
  .img2 {
    display: block;
  }
  .formsection img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
    max-width: 100%;
  }
  form {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
  }
}

@media screen and (max-width: 650px) {
  .contact-navbar {
    padding: 32px 15px;
  }

  .contact-navbar a {
    display: none;
  }
  .navbaralign {
    background-color: #111;
  }
  .contact-openBtn {
    top: 0;
  }
  .nav-mirror-sidebar {
    display: block;
  }
}
@media screen and (max-width:500px) {
  *{
    font-size: 0.8rem;
  }
  .formsection{
    padding-top: 30px  ;
  }
  .formcontent{
    padding: 30px 0px 0px 0px;
  }
  .contact-navbar{
    padding: 24px 15px;
  }
  .sidebar a{
    font-size: 15px;
  }
  .sidebar{
    max-width: 200px;
    transition: all 0.5s;
  }


  .rating {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 0px;
  }
  .ratelet {
    padding: 0px 10px 0px 10px;
    text-align: center;
    background-color: #c9c9c9;
    border-radius: 5px;
  }
  .ratelet p {
    font-size: 0.8rem;
  }
  .rate-check {
    transform: scale(1.2);
    vertical-align: 0px;
  }
  
  input[type="radio"] {
    transform: scale(1.2);
  }
  
  #best:checked::before {
    content: "\2022";
    display: block;
    transform: translate(188%, 13%) scale(5.2);
    color: #00ce0a;
  }
  
  #verygood:checked::before {
    content: "\2022";
    display: block;
    transform: translate(188%, 13%) scale(5.2);
    color: #7bff00;
  }
  #good:checked::before {
    content: "\2022";
    display: block;
    transform: translate(188%, 13%) scale(5.2);
    color: #ebff33;
  }
  #bad:checked::before {
    content: "\2022";
    display: block;
    transform:translate(188%, 13%) scale(5.2);
    color: #ffa909;
  }
  #verybad:checked::before {
    content: "\2022";
    display: block;
    transform: translate(188%, 13%) scale(5.2);
    color: rgb(255, 96, 4);
  }
  #worst:checked::before {
    content: "\2022";
    display: block;
    transform: translate(188%, 13%) scale(5.2);
    color: #ff0000;
  }
  

}
